<ion-view view-title="">
  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="padding" lazy-scroll>

    <div class="list" style="margin-bottom: 0px;">
      <div class="item" style="border: 0px;">
        <span>用户名,hello....</span>
      </div>

      <li class="item item-icon-right" style="border-left:0px;border-right: 0px;">
        <span>
           今日收入:
        </span>
      </li>

      <li class="item item-icon-right" style="border-left:0px;border-right:0px;border-bottom: 0px;">
        <span style="margin-right: 30%;">
          接单数:
        </span>
        <span>
          指派接单数:
        </span>
      </li>
    </div>


    <div style="border:1px solid #ddd;">
      <!-- tab区域 -->
      <div class="list" style="margin-bottom: 0px;" ng-if="detail==null||detail==undefined">

        <ul class="ul-tabs dark-theme" style="background: rgb(203,203,203)">
          <li style="width:25%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabIndex==0]"
                 ng-click="tab_change(0)">
            <span style="position:absolute;left: 20%;top:40%;">
              全部
            </span>
            </div>
          </li>

          <li style="width:25%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabIndex==1]"
                 ng-click="tab_change(1)">
            <span style="position:absolute;left: 20%;top:40%;">
              维修
            </span>

            </div>
          </li>

          <li style="width:25%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabIndex==2]"
                 ng-click="tab_change(2)">
            <span style="position:absolute;left: 25%;top:40%;">
             救援
            </span>

            </div>
          </li>
          <li style="width:25%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabIndex==3]"
                 ng-click="tab_change(3)">
            <span style="position:absolute;left: 25%;top:40%;">
              钣喷
            </span>

            </div>
          </li>

        </ul>

      </div>

      <!-- 分类订单 -->
      <ion-scroll style="height: 100%;margin-top:2px;">

        <div class="list list-inset" ng-if="detail==undefined||detail==null">

          <div ng-repeat="order in orders[tabIndex]">
            <ul class="list">

              <li class="item item-icon-right" ng-click="go_detail(order)"
                  style="padding-right:34px;position: relative;border-left:0px;border-right: 0px;">
                <div style="display:inline-block;width:95%;">
                  <h2>订单号:{{order.num}}</h2>
                  <span style="margin-right:5%;">时间:{{order.time}}</span>
                  <span style="margin-right:5%;">类型:{{order.type}}</span>
                </div>
                <div style="display:inline-block;width:5%;align-items:center;position: absolute;top:20%;font-size: 2em;">
                  <i class="ion-ios-arrow-forward"></i>
                </div>



              </li>
            </ul>

          </div>
        </div>

        <!-- 订单详情 -->
        <div class="list list-inset item-detail"
             ng-if="detail!=undefined&&detail!=null">
          <div class="item item-divider" style="position: relative">
            <div style="font-size: 1.8em;width: 20%;display: inline-block" ng-click="go_back_from_detail()">
              <i class="ion-ios-arrow-left"></i>
            </div>

            <div style="display: inline-block;position: absolute;left:40%;">
              <span>订单详情</span>
            </div>
          </div>

          <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
            <span class="input-label" style="display: inline-block;">
              时间:
            </span>
            <span class="input-label" style="display: inline-block;">
              2016-07-10
            </span>
          </div>
          <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
             <span class="input-label" style="display: inline-block;">
              地点:
            </span>
            <span class="input-label" style="display: inline-block;">
              B2K摩托公园
            </span>
          </div>

          <div class="item" style="margin:1px;border: 0px;padding:10px;">
             <span class="input-label" style="display: inline-block;">
              服务内容:
            </span>
            <span class="input-label" style="display: inline-block;">
              换轮胎
            </span>
          </div>

        </div>


      </ion-scroll>



    </div>




  </ion-content>

</ion-view>
